.compare-drawing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.compare-drawing-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.compare-drawing-image-container img{
    max-width: 80%;
    margin:10px;
}
